@font-face {
  font-family: "DidactGothic-Regular";
  src: url("../fonts/DidactGothic-Regular.woff2") format("woff2"),
    url("../fonts/DidactGothic-Regular.woff") format("woff"),
    url("../fonts/DidactGothic-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "DidactGothic-Regular";
  font-size: 13px;
  line-height: 140%;
  color: #000000;
  background-color: #ffffff;
}

.wrapper {
  min-height: 100vh;
  min-width: 200px;
  overflow: hidden;
  padding: 16px;
}

.form {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.form * {
  outline: none;
}

.form__title {
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0px 18px;
}

.form__subtitle {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  margin: 42px 0px 12px;
}

.form__info {
  text-align: right;
  margin: 12px 0px;
}

.form__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.form__item {
  position: relative;
  width: 48%;
  margin: 0px 0px 12px;
}

.item_size-full {
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 24px 0px 2px;
  background-color: #ffffff;
  border: none;
  border-bottom: solid 1px #74767c;
  transition: all 0.5s ease 0s;
  color: #000000;
}

.input_error {
  border-bottom: solid 1px #e53535;
}

.input_valid {
  border-bottom: solid 1px #05a660;
  background: url(../img/check.svg) 100% 95%/13px no-repeat;
  transition: all 0.4s ease 0s;
}

.form__input:focus {
  border-bottom: solid 1px #000000;
}

.form__label {
  z-index: 1;
  position: absolute;
  top: 21px;
  left: 0;
  transition: all 0.5s ease 0s;
  background-color: #ffffff;
  overflow: hidden;
}

.form__input:focus + .form__label {
  transform: translate(0px, -21px);
  font-size: 11px;
  color: #74767c;
}

.filled + .form__label {
  transform: translate(0px, -21px);
  font-size: 11px;
  color: #74767c;
}

p {
  color: #74767c;
  margin: 8px 0px;
}

.form__required {
  color: #e53535;
  margin: 8px 0px;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  color: #74767c;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label a {
  color: #74767c;
  padding: 0px 5px;
}

.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 8px;
  height: 8px;
  background-color: #ffffff;
  border: solid 1px #74767c;
  margin: 5px 9px 0px 0px;
}

.checkbox__label::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000000;
  transform: scale(0);
  transition: all 0.3s 0s;
}

.checkbox__input:checked + .checkbox__label::after {
  margin: 5px 9px 0px 0px;
}

.checkbox__input:checked + .checkbox__label,
.checkbox__input:checked + .checkbox__label a {
  color: #000000;
  transform: scale(1);
}

.form__subtitle_newsletter {
  margin-top: 54px;
  text-align: left;
}

.form__buttons {
  gap: 1.5rem;
  margin: 48px 0px 48px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 180px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 1.25rem;
  padding: 0 3rem;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
}

.form__button:hover {
  background-color: transparent;
  color: #000000;
  border: solid 1px #000000;
}

.form__button:active {
  background-color: transparent;
  top: 3px;
  color: #000000;
  border: solid 1px #000000;
}

#errorsInfo {
  color: #e53535;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 12px;
}

#successMessage {
  color: #05a660;
  text-align: center;
  margin-top: 48px;
}

@media screen and (max-width: 1023px) {
  .form__title {
    margin: 44px 0px 0px 0px;
  }

  .form__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 24px 0px 6px 0px;
  }

  .form__subtitle_newsletter {
    margin-top: 44px;
  }

  .form__info {
    margin: 6px 0px;
    align-self: end;
  }

  .form__box {
    flex-direction: column;
  }

  .form__item {
    width: 100%;
    margin: 0px 0px 6px 0px;
  }

  .form__buttons {
    margin: 32px 0px;
    gap: 1.5rem;
  }

  .form__required {
    margin: 12px 0px;
  }
}
